xml-resources/web-service-references/DiaryWebService/wsdl/localhost_8080/DiaryApp-master/DiaryWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://serverPackage/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://serverPackage/">

<xs:element name="clientName" type="tns:clientName"/>

<xs:element name="clientNameResponse" type="tns:clientNameResponse"/>

<xs:element name="setClientNote" type="tns:setClientNote"/>

<xs:element name="setClientNoteResponse" type="tns:setClientNoteResponse"/>

<xs:element name="setDate" type="tns:setDate"/>

<xs:element name="setDateResponse" type="tns:setDateResponse"/>

<xs:complexType name="setDate">
<xs:sequence>
<xs:element name="setDate" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setDateResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setClientNote">
<xs:sequence>
<xs:element name="setNote" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setClientNoteResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="clientName">
<xs:sequence>
<xs:element name="clientName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="clientNameResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>